body{
  background: linear-gradient(90deg, #AAA, #1cd3b6, #3dc312, #d1d81f, #e55a1c);
}




.main_menu {
  background-image: url("menu_background.jpg");
  background-repeat:repeat-x;
  background-size: 500px 1000px;
  width: 450px;
  height: 350px;
  position: static;
  display: none;
  border-radius: 30px;
  border: 2px solid black;
}



.menu{
  display: flow-root;
  position: fixed;
  padding-bottom: 100px;
}

.sub_menu{
  display: none;
  text-align: center;
}

.menu:hover .sub_menu{
  display: inline-block;
  padding: 0px 0px;
  overflow: hidden;
  position: inherit;
  margin-top: 5px;
}

#deroulant:hover .main_menu{
  display: flow-root;
  position:fixed;
}

#deroulant{
  display: inline;
}

.menu_initialisation{
  padding-bottom: 20%;
}



.bande_head{
  height: 50px;
  background-color: grey;
  display: flex;
  border: 3px solid black;
}
#slider_title{
  height: auto;
  width: 80%;
  margin-left: 20%;
}

.titre{
  text-align: center;
  text-decoration: underline;
  font-weight:bold;
  font-size: 40px;
  margin: auto;
  padding-right: 30%;
}

.oui{
  margin-top: 0px;
  display: run-in;
  border-radius: 40px;
}

#main_page1{
  background-color: white;
  column-count: 3;
  border: 2px solid black;
  margin-left: 10px;
}

#main_page2{
  background-color: white;
  column-count: 3;
  border: 2px solid black;
  margin-left: 10px;
}

.txt_axe{
  font-size: 30px;
  font-style: normal;
  text-decoration: underline;
  text-align: center;
}

.txt_saxe:link:visited{
  font-size: 27px;
  text-decoration: none;
  color: black;
}


.txt_saxe{
  padding-bottom: 10px;
  border: 2px solid grey;
  font-size: 27px;
  display: inline-block;
  background-color: rgba(70, 70, 70, 0.7);
}

.txt_saxe:hover{
  padding-bottom: 10px;
  border: 2px solid white;
  font-size: 27px;
  display: inline-block;
  background-color: rgba(62, 121, 200, 0.63);
  color: white;
}

.redir_saxe{
  color: rgb(0, 37, 101);
  text-decoration: none;
}

.redir_saxe:hover{
  color: white;
  text-decoration: underline;
  text: bold;
}
