body{
  background: linear-gradient(90deg, #AAA, #1cd3b6, #3dc312, #d1d81f, #e55a1c);
}


li {
  font-size: 30px;
  color: black;
  padding-bottom: 5px;
}

.main_menu {
  background-image: url("menu_background.jpg");
  background-repeat:repeat-x;
  background-size: 500px 800px;
  width: 500px;
  height: 800px;
  position: static;
  display: none;
  border-radius: 30px;
  border: 2px solid black;
}



.menu{
  display: flow-root;
  position: fixed;
  margin-bottom: 0px;
  padding-right: 200px;
}

.sub_menu{
  display: none;
  position: fixed;
  text-align: center;
}

.menu:hover .sub_menu{
  display: block;
  padding: 0px 0px;
  overflow: hidden;
  position: fixed;
}

#deroulant:hover .main_menu{
  display: flow-root;
  position:fixed;
}

#deroulant{
  display: inline;
}


nav>ul {
    margin: 0px;
    padding: 0px;
    position: static;
    text-align: left;
}

.menu_initialisation{
  padding-bottom: 210px;
}



.bande_head{
  height: 50px;
  background-color: grey;
  display: flex;
  border: 3px solid black;
}
#slider_title{
  height: auto;
  width: 80%;
  margin-left: 20%;
}

.titre{
  text-align: center;
  text-decoration: underline;
  font-weight:bold;
  font-size: 40px;
  margin: auto;
  padding-right: 30%;
}

.oui{
  margin-top: 0px;
  display: run-in;
  border-radius: 40px;
}

#main_page1{
  background-color: white;
  column-count: 3;
  border: 2px solid black;
  margin-left: 10px;
}

#main_page2{
  background-color: white;
  column-count: 3;
  border: 2px solid black;
  margin-left: 10px;
}

.txt_axe{
  font-size: 50px;
  font-style: normal;
  text-decoration: underline;
}

.txt_saxe:link{
  font-size: 40px;
  text-decoration: none;
  color: rgb(119, 7, 7);
}

.txt_saxe:visited{
  font-size: 40px;
  text-decoration: underline;
  color: rgb(71, 23, 187);
}
