body{
  background: linear-gradient(90deg, #AAA, #1cd3b6, #3dc312, #d1d81f, #e55a1c);
}


li {
  font-size: 30px;
  color: black;
  padding-bottom: 5px;
}

.main_menu {
  background-image: url("menu_background.jpg");
  background-repeat:repeat-x;
  background-size: 300px 700px;
  width: 300px;
  height: 600px;
  position: static;
  display: none;
  border-radius: 30px;
  border: 2px solid black;
}



.menu{
  display: inline;
  position: fixed;
  margin-bottom: 0px;
}

.sub_menu{
  display: none;
  position: fixed;
}

.menu:hover .sub_menu{
  display: block;
  padding: 0px 0px;
  overflow: hidden;
  position: fixed;
}

#deroulant:hover .main_menu{
  display: flow-root;
  position:fixed;
}

#deroulant{
  display: inline;
}


nav>ul {
    margin: 0px;
    padding: 0px;
    position: static;
    text-align: center;
}

.menu_initialisation{
  padding-bottom: 200px;
  padding-right: 150px;
}

.bande_head{

}

.bande_head{
  height: 50px;
  background-color: grey;
  display: flex;
  column-count: 2;
  border: 3px solid black;
}
#slider_title{
  height: auto;
  width: 100%;
}

.titre{
  text-align: center;
  text-decoration: underline;
  font-weight:bold;
  font-size: 40px;
  margin: auto;
}

.oui{
  margin-top: 0px;
  display: run-in;
  border-radius: 40px;
}

#main_page1{
  background-color: white;
  column-count: 3;
  border: 2px solid black;
  margin-left: 10px;
}

#main_page2{
  background-color: white;
  column-count: 3;
  border: 2px solid black;
  margin-left: 10px;
}
